:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  color: rgba(77, 77, 77, 1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  user-select: none;
  outline: 0px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  background-color: rgba(38, 38, 38, 1);
  border-color: rgba(77, 77, 77, 1);
  color: rgb(210, 206, 206);
}

button {
  height: 2.5em;
  border-radius: 0.25em;
  border: none;
  padding: 0.5em 1.5em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.bottom-modal {
  background-color: rgba(38, 38, 38, 1);
}


.light-mode {
  background-color: rgb(238, 231, 231);
}

.light-mode .container>div {
  background-color: #f5f2ed;
  color: rgb(164, 159, 159);
}

.light-mode .bottom-modal {
  background-color: #f5f2ed;
}

.light-mode input {
  background-color: aliceblue;
  color: #202020;
}

.light-mode button {
  border: 1px solid rgb(224, 164, 164);
}

.light-mode .close {
  background:
    linear-gradient(45deg, transparent calc(50% - 1px), black calc(50% - 1px), black calc(50% + 1px), transparent calc(50% + 1px)),
    linear-gradient(-45deg, transparent calc(50% - 1px), black calc(50% - 1px), black calc(50% + 1px), transparent calc(50% + 1px));
}

.light-mode .skeleton-text {
  background-color: rgb(192, 187, 187);
}